<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.23.2" targetFramework="net451" />
  <package id="Nancy.Hosting.Aspnet" version="0.22" />
  <package id="Nancy.Viewengines.Spark" version="0.23.2" targetFramework="net451" />
  <package id="Spark" version="1.7.0.0" targetFramework="net451" />
</packages>